<!-- angularjs ng-app, ngmodel, directive{{expression}}, ng-init, ng-repeat -->
<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>
        belajar angularjs 2
    </title>
    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
    <!-- basic 2 ng-init, ng-repeat -->
    <div ng-init="daftarnama=[{nama: 'jodi', kota: 'surakarta'},{nama: 'irfan', kota: 'Jakarta'},{nama: 'tono', kota: 'semarang'}]">
        <!-- utk filter -->
        filter: <input type="text" ng-model="fill">
        <!-- list data ng-init + filter -->
        <ul>
            <li ng-repeat="dn in daftarnama | filter:fill | orderBy:'nama'">nama: {{dn.nama | uppercase}} dari kota: {{dn.kota | lowercase}}</li>
        </ul>
    </div>
</body>
</html>