<!-- angularjs ng-app, ngmodel, directive{{expression}}, ng-init, ng-repeat -->
<!doctype html>
<html ng-app="test3app">
<head>
    <meta charset="utf-8">
    <title>
        belajar angularjs 4
    </title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="customjs/test4.js"></script>
</head>
<body>
    
    <!-- view -->
    <div ng-controller="data_orang">
        <!-- utk filter -->
        filter: <input type="text" ng-model="fill">
        <!-- list data ng-init + filter -->
        <ul>
            <li ng-repeat="dn in daftarnama | filter:fill | orderBy:'nama'">
                nama: {{dn.nama | uppercase}} dari kota: {{dn.kota | lowercase}}
            </li>
        </ul>
    </div>

</body>
</html>